* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 10px 20pxs;
    height: 550px;
    width: 350px;
    background-color: #F5F5F5;
    border: #C9C9C9 1px solid;
    box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.12),
    0 8px 20px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
}

.input-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-color: #FFFFFF;
    border: #b8b8b8 1px solid;
    border-radius: 10px;
    padding: 10px;

    font-size: 22px;
    font-weight: 500;
    letter-spacing: -0.2px;
}

.button-container {
    flex: 7;  
    display: flex;  
}

.number-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;

    padding: 25px 10px;
}

.row {
    display: flex;
    flex: 1;
    gap: 10px;
}

.row > button {
    flex: 1;

    background-color: #FFFFFF;
    border: #D3D3D3 1px solid;
    color: #333;
    border-radius: 10px;

    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.2px;
}

.row > button:hover {
    background-color: #F2F2F2;
}

.row > button:active {
    background-color: #E6E6E6;
}

.operation-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;

    padding: 25px 10px;
}

.operation-container > button {
    flex: 1;
    background-color: #FFCC00;
    border: #E6B800 1px solid;
    color: #000;
    border-radius: 10px;

    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.2px;
}

.operation-container > button:hover {
    background-color: #FFD633;
}

.operation-container > button:active {
    background-color: #E6B800;
}